# Python
__pycache__/
*.py[cod]
venv/
venve/
*.env
*.db
*.sqlite3
site_data.db

# VS Code
.vscode/
*.code-workspace

# Node.js
node_modules/
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Compiled files
*.so
*.pyd

# Docker
*.pid

# Firebase
serviceAccountKey.json
firebase_web_config.json

# Misc
*.bak
*.swp
*.tmp

# Ignore uploads
upload_*.py
upload_*.js
