<div class="block-quiz-container card-base" data-block-id="{{ block.id }}">
  <h3 class="quiz-master-title">{{ block.instructions|default('Quiz Time!') }}</h3>
  <div class="quiz-master-progress">
    <div class="quiz-master-progress-bar"></div>
  </div>
  <div class="quiz-master-question-area">
    {% for q_block in block.questions %}
      <div class="quiz-master-question-slide" style="display: none;">
        {% set block = q_block %}
        {% if block.type == 'multiple_choice' %}
          {% include 'partials/block_multiple_choice.html' %}
        {% elif block.type == 'fill_in_the_blank' %}
          {% include 'partials/block_fill_in_blank.html' %}
        {% elif block.type == 'drag_and_drop' %}
          {% include 'partials/block_drag_and_drop.html' %}
        {% else %}
          <p>Unsupported question type: {{ block.type }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="quiz-master-feedback"></div>
</div>
