<div class="block-multiple-choice mcq-image-style mcq-inline p-0-5 bg-white border-1px-solid-e0d0fa rounded-7 box-shadow-mcq overflow-hidden block-drag-and-drop" data-block-id="{{ block.id }}">
  <div class="drag-drop-instructions">
    {{ block.instructions|default('Match the items:') }}
  </div>

  <!-- Bank for draggable items -->
  <div class="drag-item-bank">
    {% for pair in block.pairs|shuffle %}
      <div class="drag-item" draggable="true" data-id="{{ pair.left }}">{{ pair.left }}</div>
    {% endfor %}
  </div>

  <!-- Matching pairs -->
  <div class="drag-drop-matches">
    {% for pair in block.pairs %}
    <div class="drag-drop-match">
      <div class="drop-zone" data-correct-id="{{ pair.left }}"></div>
      <p class="drop-label">{{ pair.right }}</p>
    </div>
    {% endfor %}
  </div>

  <div class="dnd-controls">
      <button class="btn btn-primary check-drag-drop-btn">Check Answer</button>
      <button class="btn dnd-reset-button" type="button">Reset</button>
  </div>
  <div class="drag-drop-feedback quiz-feedback" style="display: none;"></div>
</div>
