<div class="block-fill-in-blank">
  {% if block.instructions %}
    <div class="fill-blank-title">{{ block.instructions | markdown | safe }}</div>
  {% endif %}
  {% if block.question %}
    <div class="fill-blank-question">
      {% set qtext = block.question.replace('1 pt','').replace('_________', '<input type="text" class="fill-blank-input" data-answer="' ~ block.answers|join(',') ~ '">' ) %}
      {{ qtext | markdown | safe }}
    </div>
  {% endif %}
  <div class="fill-blank-feedback quiz-feedback"></div>
</div>
